.postcard {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  text-align: center;
  // font-size: 40px;
  // font-weight: 700;
  font-family: 'Bodoni Moda', serif;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.postcard-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  object-fit: cover;
  @media screen and (min-width: $tablet) {
    width: 100vw;
    // height: 100vh;
    object-fit: fill;
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
  // color: salmon;
  margin-top: 20px;
  @media screen and (min-width: $tablet) {
    font-size: 50px;
  }
}

.frames-block {
  width: 100%;
  height: 30vh;
  perspective: 800px;
  @media screen and (min-width: $tablet) {
    width: 40%;
    height: 30vh;
  }
}

.frames {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  padding: 10px;
  // width: 400px;
  // height: 150px;
  min-width: 100%;
  min-height: 20%;
  box-shadow: 0 5px 10px var(--bkg-color);

  & p {
    font-size: 20px;
    font-weight: bold;
  }

  & img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}

.frame1 {
  // top: -110px;
  background-color: coral;
  transform: rotateY(-30deg) rotateX(-20deg);
  // transform: rotateY(-210deg) rotateX(20deg) translateY(10%);
  // translateY(100px)
  // position: absolute;
}
.frame2 {
  // left: -100px;
  background-color: goldenrod;
  // transform: rotateY(-200deg) rotateX(10deg) translateX(10%) translateY(-10%);
}
.frame3 {
  // top: 120px;
  // left: -180px;
  background-color: burlywood;
  // transform: rotateY(-170deg) rotateX(-10deg) translateX(20%) translateY(-20%);
}
