.postcard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;

  font-family: 'Bodoni Moda', serif;
}

.postcard-background {
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  @media screen and (min-width: $tablet) {
    width: 100vw;
    object-fit: fill;
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin: 20px 0 20px;
  @media screen and (min-width: $tablet) {
    font-size: 50px;
    margin: 0;
  }
}

.container-postcard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 6%;
  }
}

.frames-block {
  max-width: 80%;
  perspective: 800px;
  @media screen and (min-width: $tablet) {
    max-width: 35%;
  }
}

.frames {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  padding: 10px;
  min-width: 100%;
  box-shadow: 0 5px 10px var(--bkg-color);

  & p {
    font-size: 20px;
    font-weight: bold;
  }

  & img {
    display: block;
    max-width: 30%;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}

.frame1 {
  background-color: coral;
  transform: rotateY(-30deg) rotateX(-20deg) translateX(10%);
}

.frame2 {
  background-color: goldenrod;
  transform: rotateY(-15deg) rotateX(-10deg) translateX(-3%) translateY(-10%);
}
.frame3 {
  background-color: burlywood;
  transform: rotateY(10deg) rotateX(10deg) translateX(-10%) translateY(-20%);
}

.card {
  height: 40%;
  width: 50%;
  position: relative;
  text-align: center;

  &-front,
  &-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    transition: transform 2s;
    transform-style: preserve-3d;
    background-color: rgb(255, 244, 79);
    backface-visibility: hidden;
    border-radius: 20px;
    perspective: 800px;
  }
  &-back {
    transform: rotateY(180deg);
    background-color: rgb(250, 235, 80);
  }
  &:hover .card-front {
    transform: rotateY(180deg);
  }

  &:hover .card-back {
    transform: rotateY(360deg);
  }

  &-img {
    max-width: 70%;
    align-self: center;
    @media screen and (min-width: ($tablet + 100px)) {
      max-width: 100%;
    }
  }

  & p {
    font-size: 20px;
    font-weight: bold;
  }
  @media screen and (max-width: $tablet) {
    transform: translate(-50px, 30px) rotateZ(-35deg);
  }
  @media screen and (min-width: $tablet) {
    flex: 0 1 20%;
    height: 95%;
    max-height: 500px;
    align-self: flex-start;
  }
}
