<main>
  <div class="hero container is-hidden">
    <div class="time-date">
      <h2 class="time-data-title">departure date&time</h2>
      <div class="time-data-departure">
        <label>
          <input type="text" class="date-departure-input" />
        </label>
      </div>
    </div>
    <div class="local-time">00:00:00</div>
    <div class="left-time clock">00:00:00:00</div>
    <div class="info-block">
      <div class="departure-city">
        <div class="departure-city-time">00:00:00</div>
        <label>
          <input type="text" class="departure-city-input city-input-style" />
        </label>
        <div class="departure-city-info"></div>
      </div>
      <div class="arrival-city">
        <div class="arrival-city-time">00:00:00</div>
        <label
          ><input type="text" class="arrival-city-input city-input-style" />
        </label>
        <div class="arrival-city-info"></div>
      </div>
    </div>
  </div>
</main>
