<div class="postcard">
  <!-- <div class="postcard-background"></div> -->
  <video class="postcard-background" autoplay loop muted playsinline>
    <source src="./images/bday.mp4" type="video/mp4" />
  </video>

  <h1>Happy Birthday !</h1>
  <div class="container-postcard">
    <div class="frames-block">
      <div class="frames frame1">
        <img src="./images/img1.jpg" alt="" />
        <p>Keep smiling,Keep shining</p>
      </div>
      <div class="frames frame2">
        <img src="./images/img2.jpg" alt="" />
        <p>On this occasion bring you lot of happiness and success</p>
      </div>
      <div class="frames frame3">
        <img src="./images/img3.jpg" alt="" />
        <p>May God bless you on your birthday, and always</p>
      </div>
    </div>

    <div class="card">
      <div class="card-outside">
        <video class="card-img" autoplay loop muted playsinline>
          <source src="./images/cake.mp4" type="video/mp4" />
        </video>
        <p>
          Sending you an infinite amount of love, joy, and happiness on your
          birthday!
        </p>
      </div>
      <div class="card-inside">
        <p>Have a good day every day in your life!</p>
        <video class="card-img" autoplay loop muted playsinline>
          <source src="./images/cake.mp4" type="video/mp4" />
        </video>
        <p>May good luck be with you!</p>
      </div>
    </div>
  </div>
</div>
